<nz-layout>
  <nz-sider [nzWidth]="300" nzTheme="light">
    <nz-anchor nzContainer="nz-content">
      <nz-link nzHref="#titleBig1" nzTitle="title1">
        <nz-link nzHref="#title1" nzTitle="title1"></nz-link>
        <nz-link nzHref="#title2" nzTitle="title2"></nz-link>
        <nz-link nzHref="#title3" nzTitle="title3"></nz-link>
        <nz-link nzHref="#title4" nzTitle="title4"></nz-link>
        <nz-link nzHref="#title5" nzTitle="title5"></nz-link>
        <nz-link nzHref="#title6" nzTitle="title6"></nz-link>
      </nz-link>
      <nz-link nzHref="#titleBig2" nzTitle="title1">
        <nz-link nzHref="#title2-1" nzTitle="title1"></nz-link>
        <nz-link nzHref="#title2-2" nzTitle="title2"></nz-link>
        <nz-link nzHref="#title2-3" nzTitle="title3"></nz-link>
        <nz-link nzHref="#title2-4" nzTitle="title4"></nz-link>
        <nz-link nzHref="#title2-5" nzTitle="title5"></nz-link>
        <nz-link nzHref="#title2-6" nzTitle="title6"></nz-link>
      </nz-link>
      <nz-link nzHref="#titleBig3" nzTitle="title1">
        <nz-link nzHref="#title3-1" nzTitle="title1"></nz-link>
        <nz-link nzHref="#title3-2" nzTitle="title2"></nz-link>
        <nz-link nzHref="#title3-3" nzTitle="title3"></nz-link>
        <nz-link nzHref="#title3-4" nzTitle="title4"></nz-link>
        <nz-link nzHref="#title3-5" nzTitle="title5"></nz-link>
        <nz-link nzHref="#title3-6" nzTitle="title6"></nz-link>
      </nz-link>
      <nz-link nzHref="#titleBig4" nzTitle="title1">
        <nz-link nzHref="#title4-1" nzTitle="title1"></nz-link>
        <nz-link nzHref="#title4-2" nzTitle="title2"></nz-link>
        <nz-link nzHref="#title4-3" nzTitle="title3"></nz-link>
        <nz-link nzHref="#title4-4" nzTitle="title4"></nz-link>
        <nz-link nzHref="#title4-5" nzTitle="title5"></nz-link>
        <nz-link nzHref="#title4-6" nzTitle="title6"></nz-link>
      </nz-link>
    </nz-anchor>
  </nz-sider>
  <nz-content>
    <div id="titleBig1">
      <h3>title 一</h3>
      <div id="title1">
        <nz-card nzTitle="title1" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title2">
        <nz-card nzTitle="title2" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title3">
        <nz-card nzTitle="title3" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title4">
        <nz-card nzTitle="title4" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title5">
        <nz-card nzTitle="title5" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title6">
        <nz-card nzTitle="title6" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
    </div>
    <div id="titleBig2">
      <h3>title 二</h3>
      <div id="title2-1">
        <nz-card nzTitle="title1" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title2-2">
        <nz-card nzTitle="title2" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title2-3">
        <nz-card nzTitle="title3" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title2-4">
        <nz-card nzTitle="title4" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title2-5">
        <nz-card nzTitle="title5" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title2-6">
        <nz-card nzTitle="title6" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
    </div>
    <div id="titleBig3">
      <h3>title 三</h3>
      <div id="title3-1">
        <nz-card nzTitle="title1" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title3-2">
        <nz-card nzTitle="title2" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title3-3">
        <nz-card nzTitle="title3" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title3-4">
        <nz-card nzTitle="title4" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title3-5">
        <nz-card nzTitle="title5" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title3-6">
        <nz-card nzTitle="title6" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
    </div>
    <div id="titleBig4">
      <h3>title 四</h3>
      <div id="title4-1">
        <nz-card nzTitle="title1" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title4-2">
        <nz-card nzTitle="title2" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title4-3">
        <nz-card nzTitle="title3" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title4-4">
        <nz-card nzTitle="title4" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title4-5">
        <nz-card nzTitle="title5" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
      <div id="title4-6">
        <nz-card nzTitle="title6" style="height: 400px">
          <div>xxxxxxxx</div>
        </nz-card>
      </div>
    </div>
  </nz-content>
</nz-layout>
