<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzTheme="light">
  <ul nz-menu>
    <li nz-menu-item><i nz-icon nzType="edit" nzTheme="outline"></i></li>
    <li nz-menu-item><i nz-icon nzType="form" nzTheme="outline"></i></li>
    <li nz-menu-item><i nz-icon nzType="copy" nzTheme="outline"></i></li>
    <li nz-menu-item><i nz-icon nzType="scissor" nzTheme="outline"></i></li>
    <li nz-menu-item><i nz-icon nzType="delete" nzTheme="outline"></i></li>
    <li nz-menu-item><i nz-icon nzType="snippets" nzTheme="outline"></i></li>
    <li nz-menu-item><i nz-icon nzType="diff" nzTheme="outline"></i></li>
    <li nz-menu-item><i nz-icon nzType="highlight" nzTheme="outline"></i></li>
    <li nz-menu-item><i nz-icon nzType="align-center" nzTheme="outline"></i></li>
    <li nz-menu-item><i nz-icon nzType="align-left" nzTheme="outline"></i></li>
  </ul>
</nz-sider>
